{% extends 'base.html' %}



{% if user.is_authenticated %}
    {% block content %}
        <h1>Create an Appointment</h1>
        <!-- Display messages -->
        {% for message in messages %}
            <div class="{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        <div class="container min-vh-100 d-flex justify-content-center">
        <form method="POST">
            {{ form.as_p }}
            {{ form.media }}
            <button type="submit">Submit</button>
        </form>
</div>

        <script src="../../../static/js/script.js"></script>
    {% endblock %}
{% endif %}