{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<section class="p-3 p-md-4 p-xl-5">
{% if user.is_authenticated %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="d-flex flex-column justify-content-between h-100 p-3 p-md-4 p-xl-5">
          <img class="img-fluid rounded mx-auto my-4" loading="lazy" src="{% static 'images/appointment-dog.webp' %}" alt="Dog laying on floor with shades on">
        </div>
      </div>
      <div class="col-12 col-md-6 custom-bg-primary">
        <div class="p-3 p-md-4 p-xl-5">
          <div class="row">
            <div class="col-12">
              <div class="mb-5">
                <h2 class="h3">Book an Appointment</h2>
                <h3 class="fs-6 fw-normal text-secondary m-0">Please enter the relevant details to book an appointment</h3>
              </div>
            </div>
          </div>
          <form method="POST">
              {{ form.media }}
                    {% csrf_token %}
            <div class="row gy-3 gy-md-4 overflow-hidden">
              <div class="col-12">
                <label for="start-date" class="form-label">Start Date: <span class="text-danger">*</span></label>
                <div class="input-group flex-nowrap">
                                <span class="input-group-text">
                                    <a href="#" id="start-date-icon">
                                        <i class="fas fa-calendar"></i>
                                    </a>
                                </span>
                                {{ form.start_date_time }}
                            </div>
              </div>
              <div class="col-12">
                <label for="service" class="form-label">Service: <span class="text-danger">*</span></label>
                   <div class="input-group">
                       {{ form.service }}
                        
                   </div>
                  <div id="servicePrice" class="mt-2" hidden>
              </div>
            </div>
              <div class="col-12">
                  <label for="pet" class="form-label">Pet: <span class="text-danger">*</span></label>
                  <div class="input-group">
                      {{ form.pet }}
                  </div>
              </div>
              <div class="col-12">
                <label for="description" class="form-label">Additional Information:</label>
                <div class="input-group">
                            {{ form.description }}
                        </div>
              </div>
                <!-- Display messages -->
        {% for message in messages %}
            <div class="{{ message.tags }}">{{ message }}</div>
        {% endfor %}
              <div class="col-12">
                <div class="d-grid">
                  <button class="btn btn-primary" type="submit">Book Appointment</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% else %}
        <div class="container min-vh-100 mt-5 mb-5 d-flex justify-content-center align-items-center">
            <p>You must be logged in to make a booking</p>
        </div>
    {% endif %}
</section>
{% endblock %}

{% block js %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
