{% extends 'base.html' %}
{% load custom_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}

<!-- Section for displaying user information and navigation tabs -->
<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center">
            <!-- Sidebar for navigation tabs -->
            <div class="col-lg-2 col-xl-2 d-flex justify-content-end align-items-center p-0">
                <div class="nav flex-column nav-tabs text-center" id="v-tabs-tab" role="tablist" aria-orientation="vertical">
                    <!-- Tabs for Pets and Appointments -->
                    <button class="nav-link active" id="v-tabs-pet-tab" data-bs-toggle="tab" href="#v-tabs-pet" role="tab" aria-controls="v-tabs-pet" aria-selected="true">Pets</button>
                    <button class="nav-link" id="v-tabs-appointment-tab" data-bs-toggle="tab" href="#v-tabs-appointment" role="tab" aria-controls="v-tabs-appointment" aria-selected="false">Appointments</button>
                </div>
            </div>
            <!-- Main content area -->
            <div class="col-lg-10 col-xl-10 p-0 profile-content">
                <div class="card">
                    <!-- User profile header -->
                    <div class="rounded-top text-white d-flex flex-row custom-bg-primary" style="height:200px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            <!-- User profile image and edit button -->
                            <img src="{{ user.image.url }}" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; height: 200px; z-index: 1">
                            <a  class="btn btn-outline-dark text-body" style="z-index: 1;" href="{% url 'edit_profile' %}">
                                Edit profile
                            </a>
                        </div>
                        <!-- User profile details -->
                        <div class="ms-3" style="margin-top: 110px;">
                            <h5>{{ user.first_name }} {{ user.last_name }}</h5>
                            <p class="mb-1"><i class="fa-solid fa-location-dot"></i> {{ user.address }}</p>
                            <p class="mb-1"><i class="fa-solid fa-phone"></i> {{ user.phone_number }}</p>
                        </div>
                    </div>
                    <div class="card-body p-5 text-black mt-5">
                        <!-- Tab content -->
                        <div class="tab-content" id="v-tabs-tabContent">
                            <!-- Pets tab content -->
                            <div class="tab-pane fade show active" id="v-tabs-pet" role="tabpanel" aria-labelledby="v-tabs-pet-tab">
                              <div class="d-flex justify-content-center mb-0">
                                        <button type="button" class="btn custom-bg-primary" id="addPetButton">Add pet</button>
                                    </div>
                                <div class="content-container">
                                    <!-- Loop through pets and display them -->
                                    {% for pet in pets %}
                                    <div class="content-box d-md-flex align-items-center justify-content-between mb-30">
                                        <div class="content-left my-4 d-md-flex align-items-center flex-wrap">
                                            <div class="mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-lg-flex">
                                              <img src="{{ pet.image.url }}" alt="" style="width: 65px; height: 65px;">
                                            </div>
                                            <div class="content">
                                                <h5 class="text-center text-md-left">{{ pet.name }}</h5>
                                                <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                                    <li class="mr-md-4">
                                                        <i class="fa-solid fa-paw mr-2"></i> {{ pet.breed }}
                                                    </li>
                                                    <li class="mr-md-4">
                                                        <i class="fa-solid fa-cake-candles mr-2"></i> {{ pet.age }}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="content-right my-4 flex-shrink-0">
                                            <button class="btn d-block w-100 d-sm-inline-block btn-light editPetBtn" id="{{ pet.id }}">Edit</button>
                                            <button class="btn btn-danger d-block w-100 d-sm-inline-block deletePetBtn" id="{{ pet.id }}">Delete</button>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Appointments tab content -->
                            <div class="tab-pane fade" id="v-tabs-appointment" role="tabpanel" aria-labelledby="v-tabs-appointment-tab">
                                <div class="content-container">
                                    <!-- Check if appointments exist -->
                                    {% if appointments %}
                                        <!-- Loop through appointments and display them -->
                                        {% for appointment in appointments %}
                                        <div class="content-box d-md-flex align-items-center justify-content-between mb-30">
                                            <div class="content-left my-4 d-md-flex align-items-center flex-wrap">
                                                <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-lg-flex">
                                                    <img src="{{ appointment.service.image.url }}" alt="" style="width: 65px; height: 65px">
                                                </div>
                                                <div class="content">
                                                    <h5 class="text-center text-md-left">{{ appointment.pet }}</h5>
                                                    <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                                        <li class="mr-md-4">
                                                            <i class="fa-solid fa-paw mr-2"></i> {{ appointment.service }}
                                                        </li>
                                                        <li class="mr-md-4">
                                                            <i class="fa-solid fa-cake-candles mr-2"></i> {{ appointment.start_date_time }}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="content-right my-4 flex-shrink-0">
                                                <!-- Check if appointment can be edited -->
                                                {% if appointment.start_date_time >= now|add_hours:48 %}
                                                    <button class="btn d-block w-100 d-sm-inline-block btn-light editBtn" id="{{ appointment.id }}">Edit</button>
                                                    <button class="btn btn-danger d-block w-100 d-sm-inline-block cancelBtn" id="{{ appointment.id }}">Cancel</button>
                                                {% else %}
                                                <p>Past appointments or appointments that are within 48 hours cannot be edited</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% endfor %}
                                    {% else %}
                                    <!-- Display message if no appointments exist -->
                                    <div class="d-flex justify-content-center">
                                        <p>You have no scheduled appointments</p>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- Tab content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Confirmation Modal For Cancelling Appointment -->
<div class="modal fade" id="confirmCancelAppointmentModal" tabindex="-1"
aria-labelledby="cancelAppointmentModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Cancel Appointment</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body container">
            <p>Are you sure you want to cancel this appointment?</p>
            <p><i>This action cannot be reversed</i></p>
        </div>
        <div class="modal-footer">
            <form id="cancelAppointmentForm" method="post" action="{% url 'cancel_appointment' cancel_appointment_id=0 %}">
                {% csrf_token %}
                <input type="hidden" name="cancel_appointment_id" id="cancel_appointment_id" value="">
                <button type="button" class="btn btn-danger d-block w-200 d-sm-inline-block" id="confirmCancelButton">Yes</button>
                <button type="button" class="btn d-block w-200 d-sm-inline-block btn-light" data-bs-dismiss="modal">No</button>
            </form>
        </div>
    </div>
</div>
</div>

<!-- Edit Appointment Modal -->
<div class="modal fade" id="editAppointmentModal" tabindex="-1"
aria-labelledby="editAppointmentModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"
                id="editAppointmentModalLabel">Edit Appointment</h5>
            <button type="button" class="btn-close"
                data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body container">
            <form method="POST" class="model-form" id="editAppointmentForm">
                    {% csrf_token %}
                    {{ appointmentForm.media }}
                    <input type="hidden" name="form_type" value="edit_appointment_form">
                    <div class="row mb-3">
                    <label for="id_start_date" class="col-sm-2 col-form-label">Start date:</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-text">
                                <a href="#" id="start-date-icon">
                                    <i class="fas fa-calendar"></i>
                                </a>
                            </span>
                            <input type="text" id="start_date" class="form-control" name="start_date_time"></input>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_pet" class="col-sm-2 col-form-label">Pet:</label>
                    <div class="col-sm-10">
                        {{ appointmentForm.pet }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_service" class="col-sm-2 col-form-label">Service:</label>
                    <div class="col-sm-10">
                        {{ appointmentForm.service }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_service" class="col-sm-2 col-form-label">Description:</label>
                    <div class="col-sm-10">
                        {{ appointmentForm.description }}
                    </div>
                </div>
                <input type="hidden" id="appointment_id" name="appointment_id">
            </form>
            <div id="editAppointmentFormErrors">
                    {% for message in messages %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveChangesButton">Save changes</button>
        </div>
    </div>
</div>
</div>

<!-- Add Pet Modal -->
<div class="modal fade" id="addPetModal" tabindex="-1" aria-labelledby="addPetModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPetModalLabel">Add Pet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container">
                <form method="POST" class="model-form" id="addPetForm">
                    {% csrf_token %}
                    {{ petForm.media }}
                    <input type="hidden" name="form_type" value="pet_form">
                     <div class="row mb-3">
                        <label for="id_breed" class="col-sm-2 col-form-label">Image:</label>
                        <div class="col-sm-10">
                            {{ petForm.image }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_name" class="col-sm-2 col-form-label">Name:</label>
                        <div class="col-sm-10">
                            {{ petForm.name }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_breed" class="col-sm-2 col-form-label">Breed:</label>
                        <div class="col-sm-10">
                            {{ petForm.breed }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_age" class="col-sm-2 col-form-label">Age:</label>
                        <div class="col-sm-10">
                            {{ petForm.age }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_medical_notes" class="col-sm-2 col-form-label">Medical notes:</label>
                        <div class="col-sm-10">
                            {{ petForm.medical_notes }}
                        </div>
                    </div>

                </form>
                <div id="petFormErrors">
                    {% for message in messages %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addPetSubmitButton">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Pet Modal -->
<div class="modal fade" id="editPetModal" tabindex="-1"
aria-labelledby="editPetModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"
                id="editPetModalLabel">Edit Pet</h5>
            <button type="button" class="btn-close"
                data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body container">
            <form method="POST" class="model-form" id="editPetForm">
                    {% csrf_token %}
                    {{ petForm.media }}
                    <div class="row mb-3">
                        <label for="id_breed" class="col-sm-2 col-form-label">Breed:</label>
                        <div class="col-sm-10">
                            {{ editPetForm.image }}
                        </div>
                    </div>
                    <input type="hidden" name="form_type" value="edit_pet_form">
                    <div class="row mb-3">
                        <label for="id_name" class="col-sm-2 col-form-label">Name:</label>
                        <div class="col-sm-10">
                            {{ editPetForm.name }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_breed" class="col-sm-2 col-form-label">Breed:</label>
                        <div class="col-sm-10">
                            {{ editPetForm.breed }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_age" class="col-sm-2 col-form-label">Age:</label>
                        <div class="col-sm-10">
                            {{ editPetForm.age }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_medical_notes" class="col-sm-2 col-form-label">Medical notes:</label>
                        <div class="col-sm-10">
                            {{ editPetForm.medical_notes }}
                        </div>
                    </div>

                    <input type="hidden" id="pet_id" name="pet_id">
            </form>
            <div id="editPetFormErrors">
                    {% for message in messages %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="editPetButton"> Save changes </button>
        </div>
    </div>
</div>
</div>

<!-- Confirmation Modal For Deleting Pet -->
<div class="modal fade" id="confirmDeletePetModal" tabindex="-1"
aria-labelledby="confirmDeletePetLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Delete pet</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body container">
            <p>Are you sure you want to delete the pet?</p>
            <p><i>This action cannot be reversed</i></p>
        </div>
        <div class="modal-footer">
            <form id="deletePetForm" method="post" action="{% url 'delete_pet' delete_pet_id=0 %}">
                {% csrf_token %}
                <input type="hidden" name="pet_id" id="pet_id" value="">
                <button type="button" class="btn btn-danger d-block w-200 d-sm-inline-block" id="confirmDeletePetButton">Yes</button>
                <button type="button" class="btn d-block w-200 d-sm-inline-block btn-light" data-bs-dismiss="modal">No</button>
            </form>
        </div>
    </div>
</div>
</div>

{% else %}
<!-- Display message if user is not logged in -->
<p>You must be logged in</p>
{% endif %}
{% endblock %}

{% block js %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
