{% extends 'base.html' %}
{% load custom_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}

<!-- Section for displaying user information and navigation tabs -->
<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center">
            <!-- Main content area -->
            <div class="col-lg-10 col-xl-10 p-0 profile-content">
                <div class="card">
                    <!-- User profile header -->
                     <!-- User profile header -->
                    <div class="rounded-top text-white d-flex flex-row custom-bg-primary" style="height:180px;">
                         <div class="ms-4 mt-3 d-flex flex-column" style="width: 150px;">
                            <!-- User profile image and edit button -->
                            <img src="{{ user.image.url }}" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; height: 200px; z-index: 1">

                        </div>
                          <div class="ms-3 mt-5">
                            <h5>{{ user.first_name }} {{ user.last_name }}</h5>
                            <p class="mb-1"><i class="fa-solid fa-location-dot"></i> {{ user.address }}</p>
                            <p class="mb-1"><i class="fa-solid fa-phone"></i> {{ user.phone_number }}</p>
                          </div>
                    </div>
                    <div class="text-white d-flex flex-row" style="height: 150px">
                        <div class="ms-4 mt-4 d-flex flex-column" style="width: 150px;">
                           <a class="btn custom-btn-alt text-white mt-5" style="z-index: 1;" href="{% url 'edit_profile' %}">
                            Edit profile
                           </a>
                        </div>

                    </div>
                </div>
                 <div class="card-body p-5 text-black mt-5 rounded-top" style="background-color: white">
                     <div class="col-lg-12 col-xl-12 d-flex justify-content-center align-items-center p-0">
                        <ul class="nav nav-pills text-center " id="v-tabs-tab" role="tablist">
                            <!-- Tabs for Pets and Appointments -->
                            <li class="nav-link active " id="v-tabs-pet-tab" data-bs-toggle="tab" href="#v-tabs-pet" role="tab" aria-controls="v-tabs-pet" aria-selected="true">Pets</li>
                            <li class="nav-link" id="v-tabs-appointment-tab" data-bs-toggle="tab" href="#v-tabs-appointment" role="tab" aria-controls="v-tabs-appointment" aria-selected="false">Appointments</li>
                        </ul>
                    </div>

                    <div class="tab-content" id="v-tabs-tabContent">
                          <div class="tab-pane fade show active" id="v-tabs-pet" role="tabpanel" aria-labelledby="v-tabs-pet-tab">
                            <div class="d-flex justify-content-center mt-3">
                                <button type="button" class="btn custom-btn-alt" id="addPetButton" style="width: 200px;">Add pet</button>
                            </div>

                               <div class="container overflow-none">
                                    <!-- Loop through pets and display them -->
                               <div class="row mt-5">
                                   {% for pet in pets %}
                                         <div class="col-md-4 my-3">
                                                <div class="card profile-card">
                                                    <div class="background-block">
                                                        <img src="https://cdn.pixabay.com/photo/2017/08/23/19/50/cats-paw-2674056_960_720.png"
                                                            alt="profile-sample1" class="background"/>
                                                    </div>
                                                    <div class="profile-thumb-block">
                                                        <img src={{ pet.image.url }} alt="profile-image" class="profile" style="width: 100px; height: 100px"/>
                                                    </div>
                                                    <div class="card-content">
                                                        <h2>{{ pet.name}}<small>{{ pet.breed }}</small></h2>
                                                            <div class="button-block">
                                                                  <button class="btn d-block w-100 d-sm-inline-block editPetBtn" id="{{ pet.id }}">Edit</button>
                                                                    <button class="btn d-block w-100 d-sm-inline-block deletePetBtn" id="{{ pet.id }}">Delete</button>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                    {% endfor %}
                               </div>

                                </div>

                          </div>
                     <!--- Appointment Tab --->
                          <div class="tab-pane fade show" id="v-tabs-appointment" role="tabpanel" aria-labelledby="v-tabs-appointment-tab">
                               <div class="container overflow-none">
                                    <!-- Loop through pets and display them -->
                               <div class="row mt-5">
                                   {% if appointments %}
                                       {% for appointment in appointments %}
                                             <div class="col-md-4 my-3">
                                                    <div class="card profile-card">
                                                        <div class="background-block">
                                                            <img src="https://cdn.pixabay.com/photo/2017/08/23/19/50/cats-paw-2674056_960_720.png"
                                                                alt="profile-sample1" class="background" />
                                                        </div>
                                                        <div class="profile-thumb-block">
                                                            <img src={{ appointment.service.image.url }} alt="profile-image" class="profile" style="width: 100px; height: 100px; background-color: #fff;"/>
                                                        </div>
                                                        <div class="card-content">
                                                            <h2>{{ appointment.service}}<small>{{ appointment.pet.name }}</small><small>{{ appointment.start_date_time }}</small></h2>
                                                                <div class="button-block">
                                                                    <!-- Check if appointment can be edited -->
                                                                    {% if appointment.start_date_time >= now|add_hours:48 %}
                                                                        <button class="btn d-block w-100 d-sm-inline-block editBtn" id="{{ appointment.id }}">Edit</button>
                                                                    <button class="btn btn-sm d-block w-100 d-sm-inline-block cancelBtn" id="{{ appointment.id }}">Cancel</button>
                                                                    {% else %}
                                                                    <p>Past appointments or appointments that are within 48 hours cannot be edited</p>
                                                                    {% endif %}

                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        {% endfor %}
                                    {% else %}
                                    <!-- Display message if no appointments exist -->
                                    <div class="d-flex justify-content-center">
                                        <p>You have no scheduled appointments</p>
                                    </div>
                                    {% endif %}
                                   </div>
                                   </div>
                          </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</section>

<!-- Confirmation Modal For Cancelling Appointment -->
<div class="modal fade" id="confirmCancelAppointmentModal" tabindex="-1"
aria-labelledby="cancelAppointmentModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Cancel Appointment</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body container">
            <p>Are you sure you want to cancel this appointment?</p>
            <p><i>This action cannot be reversed</i></p>
        </div>
        <div class="modal-footer">
            <form id="cancelAppointmentForm" method="post" action="{% url 'cancel_appointment' cancel_appointment_id=0 %}">
                {% csrf_token %}
                <input type="hidden" name="cancel_appointment_id" id="cancel_appointment_id" value="">
                <button type="button" class="btn btn-danger d-block w-200 d-sm-inline-block" id="confirmCancelButton">Yes</button>
                <button type="button" class="btn d-block w-200 d-sm-inline-block btn-light" data-bs-dismiss="modal">No</button>
            </form>
        </div>
    </div>
</div>
</div>

<!-- Edit Appointment Modal -->
<div class="modal fade" id="editAppointmentModal" tabindex="-1"
aria-labelledby="editAppointmentModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"
                id="editAppointmentModalLabel">Edit Appointment</h5>
            <button type="button" class="btn-close"
                data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body container">
            <form method="POST" class="model-form" id="editAppointmentForm">
                    {% csrf_token %}
                    {{ appointmentForm.media }}
                    <input type="hidden" name="form_type" value="edit_appointment_form">
                    <div class="row mb-3">
                    <label for="id_start_date" class="col-sm-2 col-form-label">Start date:</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-text">
                                <a href="#" id="start-date-icon">
                                    <i class="fas fa-calendar"></i>
                                </a>
                            </span>
                            <input type="text" id="start_date" class="form-control" name="start_date_time"></input>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_pet" class="col-sm-2 col-form-label">Pet:</label>
                    <div class="col-sm-10">
                        {{ appointmentForm.pet }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_service" class="col-sm-2 col-form-label">Service:</label>
                    <div class="col-sm-10">
                        {{ appointmentForm.service }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_service" class="col-sm-2 col-form-label">Description:</label>
                    <div class="col-sm-10">
                        {{ appointmentForm.description }}
                    </div>
                </div>
                <input type="hidden" id="appointment_id" name="appointment_id">
            </form>
            <div id="editAppointmentFormErrors">
                    {% for message in messages %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveChangesButton">Save changes</button>
        </div>
    </div>
</div>
</div>

<!-- Add Pet Modal -->
<div class="modal fade" id="addPetModal" tabindex="-1" aria-labelledby="addPetModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPetModalLabel">Add Pet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container">
                <form method="POST" class="model-form" id="addPetForm">
                    {% csrf_token %}
                    {{ petForm.media }}
                    <input type="hidden" name="form_type" value="pet_form">
                     <div class="row mb-3">
                        <label for="id_breed" class="col-sm-2 col-form-label">Image:</label>
                        <div class="col-sm-10">
                            {{ petForm.image }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_name" class="col-sm-2 col-form-label">Name:</label>
                        <div class="col-sm-10">
                            {{ petForm.name }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_breed" class="col-sm-2 col-form-label">Breed:</label>
                        <div class="col-sm-10">
                            {{ petForm.breed }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_age" class="col-sm-2 col-form-label">Age:</label>
                        <div class="col-sm-10">
                            {{ petForm.age }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_medical_notes" class="col-sm-2 col-form-label">Medical notes:</label>
                        <div class="col-sm-10">
                            {{ petForm.medical_notes }}
                        </div>
                    </div>

                </form>
                <div id="petFormErrors">
                    {% for message in messages %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addPetSubmitButton">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Pet Modal -->
<div class="modal fade" id="editPetModal" tabindex="-1"
aria-labelledby="editPetModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"
                id="editPetModalLabel">Edit Pet</h5>
            <button type="button" class="btn-close"
                data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body container">
            <form method="POST" class="model-form" id="editPetForm">
                    {% csrf_token %}
                    {{ petForm.media }}
                    <div class="row mb-3">
                        <label for="id_breed" class="col-sm-2 col-form-label">Breed:</label>
                        <div class="col-sm-10">
                            {{ editPetForm.image }}
                        </div>
                    </div>
                    <input type="hidden" name="form_type" value="edit_pet_form">
                    <div class="row mb-3">
                        <label for="id_name" class="col-sm-2 col-form-label">Name:</label>
                        <div class="col-sm-10">
                            {{ editPetForm.name }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_breed" class="col-sm-2 col-form-label">Breed:</label>
                        <div class="col-sm-10">
                            {{ editPetForm.breed }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_age" class="col-sm-2 col-form-label">Age:</label>
                        <div class="col-sm-10">
                            {{ editPetForm.age }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_medical_notes" class="col-sm-2 col-form-label">Medical notes:</label>
                        <div class="col-sm-10">
                            {{ editPetForm.medical_notes }}
                        </div>
                    </div>

                    <input type="hidden" id="pet_id" name="pet_id">
            </form>
            <div id="editPetFormErrors">
                    {% for message in messages %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="editPetButton"> Save changes </button>
        </div>
    </div>
</div>
</div>

<!-- Confirmation Modal For Deleting Pet -->
<div class="modal fade" id="confirmDeletePetModal" tabindex="-1"
aria-labelledby="confirmDeletePetLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Delete pet</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body container">
            <p>Are you sure you want to delete the pet?</p>
            <p><i>This action cannot be reversed</i></p>
        </div>
        <div class="modal-footer">
            <form id="deletePetForm" method="post" action="{% url 'delete_pet' delete_pet_id=0 %}">
                {% csrf_token %}
                <input type="hidden" name="pet_id" id="pet_id" value="">
                <button type="button" class="btn btn-danger d-block w-200 d-sm-inline-block" id="confirmDeletePetButton">Yes</button>
                <button type="button" class="btn d-block w-200 d-sm-inline-block btn-light" data-bs-dismiss="modal">No</button>
            </form>
        </div>
    </div>
</div>
</div>

{% else %}
<!-- Display message if user is not logged in -->
<p>You must be logged in</p>
{% endif %}
{% endblock %}

{% block js %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}