/* Sidebar styles */
.sidebar {
    background-color: #87CEEB;
}

/* Primary button color */
.btn-primary-color {
    background-color: #0B3D91;
}

/* Secondary button color */
.btn-secondary-color {
    background-color: #c0c0c0;
    border: none;
    color: #000;
}

/* Ensure content isn't clipped or overflowing unexpectedly */
.container {
    overflow: visible; 
}

/* Ensure navbar stays above other content */
.navbar {
    z-index: 1000;
}

/* Ensure footer stays above other content */
.footer {
    z-index: 1000;
}

/* Styling for hero image */
#hero-image {
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/home-background.png) center;
    background-size: cover;
}

.django-flatpickr {
    width: 100%;
}

/* Primary background color */
.custom-bg-primary {
    background-color: #87CEEB;
}

/* Light background color */
.custom-bg-light {
    background-color: #f6f6f6;
}

/* Card body margin top */
.profile-content .card-body {
    margin-top: 20px;
}

/* Body background and margin top */
body {
    background: #f5f5f5;
    margin-top: 20px;
}

.content-container {
    overflow-y: auto;
    max-height: 500px;
}
/* Content box styles */
.content-container .content-box {
    background: #fff;
    box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
    border-radius: 10px;
    padding: 10px 35px;
}

/* List styles */
ul {
    list-style: none;
}

/* Image holder styles */
.content-box .img-holder {
    height: 65px;
    width: 65px;
    /* Flex styles */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 65px;
}

/* List item styles */
.content ul li {
    font-weight: 600;
    opacity: 0.75;
    border-bottom: 1px solid #ccc;
    padding: 10px 5px;
}

/* Icon styles */
.content ul li i {
    font-size: 20px;
    position: relative;
    top: 1px;
}

/* Margin bottom styles */
.mb-30 {
    margin-bottom: 30px;
}

/* Media query styles for larger screens */
@media (min-width: 768px) {
    .content ul li {
        border-bottom: 0;
    }
}
