/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Styles */
html {
    scroll-behavior: smooth;
}

/* Navbar Styles */
nav {
    z-index: 1000;
}

/* Main Content Styles */
main {
    flex: 1;
}

/* Body Styles */
body {
    background: #f5f5f5;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Footer Styles */
footer {
    z-index: 1000;
    padding: 1rem 0;
}

/* List Styles */
ul {
    list-style: none;
}

h1, h2, h3, h5, p, label {
    font-family: 'Lora', serif;
}

nav ul li a {
    font-family: 'Montserrat', sans-serif;
}

button {
    font-family: 'Montserrat', sans-serif;
}

/* Service Image Styles */
.service-img {
    width: 150px;
    height: 150px;
}

/* Sidebar Styles */
.sidebar {
    background-color: #87CEEB;
}

/* Container Overflow Styles */
.container {
    overflow: visible;
}

/* Hero Image Styles */
#hero-image {
    height: 600px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/home-background.webp) center;
    background-size: cover;
}

/* Flatpickr Styles */
.django-flatpickr {
    width: 100%;
}

/* Primary Button Styles */
.custom-btn {
    background-color: #F8F9FA;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    transition: background-color 0.3s, transform 0.3s;
}

/* Alternate Primary Button Styles */
.custom-btn-alt {
    background-color: #0B3D91;
    color: #F8F9FA;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    transition: background-color 0.3s, transform 0.3s;
}

/* Hover Effect for Primary Buttons */
.custom-btn:hover,
.custom-btn-alt:hover {
    background-color: #0B3D91;
    color: #F8F9FA;
    transform: scale(1.05);
}

/* Primary Background Color */
.custom-bg-primary {
    background-color: #87CEEB;
}

/* Secondary Background Color */
.custom-bg-secondary {
    background-color: #0B3D91;
}

/* Light Background Color */
.custom-bg-light {
    background-color: #f6f6f6;
}

/* Content Container Styles */
.content-container {
    overflow-y: auto;
    max-height: 500px;
}

/* Content Box Styles */
.content-container .content-box {
    background: #fff;
    box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
    border-radius: 10px;
    padding: 10px 35px;
}

/* Image Holder Styles */
.content-box .img-holder {
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 65px;
}

/* List Item Styles */
.content ul li {
    font-weight: 600;
    opacity: 0.75;
    border-bottom: 1px solid #ccc;
    padding: 10px 5px;
}

/* Icon Styles */
.content ul li i {
    font-size: 20px;
    position: relative;
    top: 1px;
}

/* Card Body Margin Top */
.profile-content .card-body {
    margin-top: 20px;
}

/* Margin Bottom Styles */
.mb-30 {
    margin-bottom: 30px;
}

/* Social Icons Styles */
.social-icons {
    font-size: 24px;
}

.social-icons .social-icon {
    display: inline-block;
    color: #0B3D91;
    transition: transform 0.3s;
}

.social-icons .social-icon:hover {
    transform: scale(1.2);
}

/* Navigation Link Styles */
.nav-link {
    transition: transform 0.3s;
}

.nav-link:hover {
    transform: scale(1.2);
}

.services-section {
    background-color: #87CEEB;
}

.services-card {
    margin-bottom: 20px;
}

.services-card .card {
    border: 1px solid #000;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.services-card .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.services-card .card-title {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.services-card .card-pricing {
    font-size: 1rem;
    color: #007bff;
}

.pricing-section {
    background-color: #f8f8f8;
    padding: 50px 0;
}

.pricing-section p {
    font-size: 1.1rem;
    color: #555;
}

.pricing-section a {
    color: #007bff;
    text-decoration: none;
}

.pricing-section a:hover {
    text-decoration: underline;
}

/* Media Query Styles for Larger Screens */
@media (min-width: 768px) {
    .content ul li {
        border-bottom: 0;
    }
}
